body {
    margin: 0;
    background-color: var(--background-color);
}

.container {
    width: 100%;
    height: inherit;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 20px 0;
}