.choose_lan {
    display: none;

    justify-content: center;
    flex-direction: column;
}

.choose_lan_btn {
    width: 350px;
    min-height: 30px;
    margin-bottom: 10px;

    background-color: inherit;
    border: 1px solid var(--border-color);
    border-radius: 7px;

    color: var(--text-secondary-color);
    cursor: pointer;
}


@media (min-width: 900px) {
    .choose_lan_btn:hover {
        border-color: white;
        color: white;
    }
}


@media (max-width: 575px) {
    .choose_lan_btn {
        min-height: 50px;
        font-size: 20px;
    }
}